<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NUnit" version="3.10.1" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net471" />
  <package id="Raspberry.IO.GeneralPurpose" version="2.4" targetFramework="net471" />
  <package id="Raspberry.System" version="2.1" targetFramework="net471" />
  <package id="RestSharp" version="106.2.2" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="3.12.0" targetFramework="net471" />
  <package id="Shaman.CurlSharp" version="0.6.3.1" targetFramework="net471" />
  <package id="Tobii.EyeX.Client" version="1.8.504" targetFramework="net471" />
  <package id="Tobii.EyeX.Framework" version="1.8.503" targetFramework="net471" />
  <package id="Tobii.Interaction" version="0.7.3" targetFramework="net471" />
  <package id="Tobii.Research.x86" version="1.4.0.926" targetFramework="net471" />
  <package id="Tobii.StreamEngine" version="2.2.2.363" targetFramework="net471" />
  <package id="Tobii.StreamEngine.Native" version="2.2.2.363" targetFramework="net471" />
  <package id="WpfAnimatedGif" version="1.4.15" targetFramework="net471" />
  <package id="xunit.analyzers" version="0.9.0" targetFramework="net471" />
  <package id="xunit.runner.console" version="2.3.1" targetFramework="net471" developmentDependency="true" />
</packages>